.Search-types {
  border: 1px solid gray;
  padding: 10px;
}

.Search-types a {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Search-pagination {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Search-pagination > button {
  margin: 10px;
  flex-basis: 150px;
}
