.Search-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-template-areas:
    "main"
    "column";
}

@media screen and (min-width: 768px) {
  .Search-grid {
    grid-template-columns: 25% 1fr;
    grid-template-areas: "column main";
  }
}

.Search-grid-column {
  grid-area: column;
}
.Search-grid-main {
  grid-area: main;
}

.Search-types {
  border: 1px solid gray;
  padding: 10px;
}

.Search-types a {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Search-grid-items {
  display: flex;
  flex-wrap: wrap;
}

.Search-grid-items > article {
  width: 100%;
  margin-bottom: 20px;
}

.Search-pagination {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Search-pagination > button {
  margin: 10px;
  flex-basis: 150px;
}
